<div class="container">
    <div class="header">
        <div id="uipalette-logo">
            <span id="uipalette-logo-style1">UI</span>PALET<span id="uipalette-logo-style2">TE</span>
        </div>
        <div id="uipalette-description">
            Generate palatte by one clicking
        </div>
        <div class="input-wrap">
            <input class="input-hex" ng-model="hvalue" placeholder="HEX">
            <i ng-if="hvalue" class="material-icons">keyboard_return</i>
        </div>
    </div>
    <div class="color-body">
        <div class="color-row1">
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div>
        <div class="color-row2">
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div>
        <div class="color-row3">
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div>
    </div>
    <div class="footer">
        <div class="github-logo">
            <img src="/images/GitHub-Mark-32px.png" alt="github">
            <div class="github-text">
                <span>GitHub</span>
            </div>
        </div>
        <div class="copyright">
            <span>Made By Qiang &amp Zeng | &copy 2017</span>
        </div>
    </div>
</div>
